<div class="evento-title">
  <div class="container">
    <div class="row">
        <div class="col-12">
          <h2>Da de alta tu Startup</h2>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row datos-evento">
    <div class="col-4">
      <%= image_tag @startup_weekend.logo, class: 'logotipo' %>
      <h4 class='colorBase'><%= @startup_weekend.titulo %></h4>
      <p>
        <%= @startup_weekend.descripcion %>
      </p>
    </div>
    <div class="col-8">
      <div class="back-gray">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
