<div class="container">
  <div class="row">
    <div class="col-6">
      <i class="fa fa-copyright"></i> Copyright <%= Time.now.year %>. Todos los derechos reservados.
    </div>
    <div class="col-6 push-rigth">
      Quieres generar tu comunidad y eventos? <%= link_to 'Date 1 min y déjanos tus datos ;)', registrate_path %>
    </div>
  </div>
</div>
