html, body
  margin: 0
  padding: 0
  height: 100%
  font-family: $fontFamily

a
  color: $bodyColor
  text-decoration: none
  &:hover
    color: darken($bodyColor, 20)

input[type], textarea
  border: 1px $colorGray solid
  padding: em(10)
  width: 100%
  font-size: 11pt
  margin: em(10) 0

hr
  border: none
  width: 100%
  height: em(1)
  background: lighten($colorMediumGray, 30)

textarea
  height: em(200)

select
  border: none
  font-size: 11pt
  margin: em(10) 0

// ID

#wrapper
  min-height: 100%
  position: relative

#content
  padding-bottom: em(70)

header
  padding-bottom: em(10)
  text-align: center
  border-bottom: 1px solid $colorGray
  .top-header
    background: $colorGray
    margin-bottom: em(10)
    padding: em(5) 0
    text-align: right
    .sessions
      font-size: 10pt
      color: darken($colorGray, 20)
footer
  position: absolute
  bottom: 0
  width: 100%
  font-size: 9pt
  height: em(60)
  color: $colorMediumGray
  text-align: center

//class
.btn-default
  +base-button($bodyColor)

.btn-default-dark
  +base-button($colorGray)
  color: $colorMediumGray !important

.topic-top
  border: 1px solid $colorMediumGray
  +border-all(3px)
  display: inline-block
  padding: em(5)
  font-size: 8pt
  text-transform: uppercase
  &.presente
    border-color: $bodyColor
    color: $bodyColor
    &:hover
      background: $bodyColor
      color: white
  &.pasado
    border-color: $colorMediumGray
    color: $colorMediumGray
    &:hover
      background: $colorMediumGray
      color: white
  &.futuro
    border-color: $colorTwitter
    color: $colorTwitter
    &:hover
      background: $colorTwitter
      color: white
  &.calendario
    border-color: $colorRed
    color: $colorRed
    &:hover
      background: $colorRed
      color: white

.topic
  border: 1px solid $colorMediumGray
  +border-all(3px)
  display: inline-block
  padding: em(5)
  font-size: 8pt
  text-transform: uppercase
  position: absolute
  &.presente
    border-color: $bodyColor
    color: $bodyColor
    &:hover
      background: $bodyColor
      color: white
  &.pasado
    border-color: $colorMediumGray
    color: $colorMediumGray
    &:hover
      background: $colorMediumGray
      color: white
  &.futuro
    border-color: $colorTwitter
    color: $colorTwitter
    &:hover
      background: $colorTwitter
      color: white

.colorBase
  color: $bodyColor
.back-gray
  background: $colorGray
  padding: em(10)
  .col-4:nth-child(3n)
    margin-right: 0

  h4
    margin-bottom: 0
  p
    margin-top: 0
  .idea
    border: 1px solid white
    padding: em(10)
    +border-all(5px)
    margin-bottom: em(5)
    h5,h6
      margin: 0
    h6
      color: $bodyColor
    p
      margin-bottom: 0
      font-size: 9pt
.push-rigth
  text-align: right
.keep-center
  text-align: center
.fa-twitter, .fa-facebook, .fa-globe
  color: $colorMediumGray
  padding: 0 em(2)
.fa-twitter
  &:hover
    color: $colorTwitter
.fa-facebook
  &:hover
    color: $colorFacebook
.fa-globe
  &:hover
    color: $colorInternet
