html, body
  margin: 0
  padding: 0
  height: 100%
  font-family: $fontFamily

// ID

#wrapper
  min-height: 100%
  position: relative

#content
  padding: em(10)
  padding-bottom: em(60)

header
  padding: em(10)
  text-align: center
  border-bottom: 1px solid $colorGray

footer
  position: absolute
  bottom: 0
  width: 100%
  font-size: 9pt
  height: em(60)
  color: $colorMediumGray
  text-align: center

//class
.push-rigth
  text-align: right
