html, body
  margin: 0
  padding: 0
  height: 100%

// ID

#wrapper
  min-height: 100%
  position: relative

#content
  padding: em(10)
  padding-bottom: em(60)

header


footer
  position: absolute
  bottom: 0
  width: 100%
  height: em(60)
