// Media Queries
$tablet: 850px
$mobile: 480px

$bodyColor: #72BE54
$colorGray: #f2f2f2
$colorMediumGray: #666

$colorTwitter: #55ACEE
$colorFacebook: #44609D
$colorInternet: $bodyColor

//Font
$fontFamily: 'Open Sans', sans-serif
